<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>contract</title>
    <link th:replace="home :: css">
    <style th:replace="home :: backgroud"></style>
</head>
<body>
<nav th:replace="home :: header"></nav>
<div th:replace="home :: menu"></div>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg-12 text-center fst-italic">
            <h1>Contract List</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12">
            <table class="table fst-italic">
                <thead>
                <tr class="table-success">
                    <th scope="col">#</th>
                    <th scope="col">Service</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Deposit</th>
                    <th scope="col">Total Mony</th>
                    <th scope="col" >Detail</th>
                    <th scope="col">Attach Service</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contract, status : ${contracts}">
                    <th th:text="${status.count}" scope="row"></th>
                    <td th:text="${contract.facilityId.name}"></td>
                    <td th:text="${contract.customerId.name}"></td>
                    <td th:text="${contract.startDate}"></td>
                    <td th:text="${contract.endDate}"></td>
                    <td th:text="${contract.deposit}"></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-plus-fill" viewBox="0 0 16 16">
                                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm.5 4v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>
                    </td>
                    <td>

                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalDelete">
                            Attach Service List
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4 text-end">
            <a th:if="${contracts.hasPrevious()}"
               th:href="@{/contract/home(page=${contracts.number -1})}"
               class="btn btn-success fst-italic">previous</a>
        </div>
        <div class="col-lg-4 text-center">
            <span th:text="${contracts.number + 1}"></span> /
            <span th:text="${contracts.totalPages}"></span>
        </div>
        <div class="col-lg-4 text-start">
            <a th:if="${contracts.hasNext()}"
               th:href="@{/contract/home(page=${contracts.number + 1})}"
               class="btn btn-success fst-italic">next</a>
        </div>
    </div>
</div>

<!-- Modal Attach Service List -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attach Service List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-success">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="attachFacility, status : ${attachFacilityList}">
                        <th th:text="${status.count}" scope="row">1</th>
                        <td th:text="${attachFacility.name}"></td>
                        <td th:text="${attachFacility.unit}"></td>
                        <td th:text="${attachFacility.cost}"></td>
                        <td th:text="${attachFacility.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Create -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelCreate">Contract Detail Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="startDate" class="form-label fw-bold">Start Date:</label>
                        <input type="date" class="form-control" id="startDate" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="endDate" class="form-label fw-bold">End Date:</label>
                        <input type="date" class="form-control" id="endDate" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="deposit" class="form-label fw-bold">Deposit:</label>
                        <input type="text" class="form-control" id="deposit" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="totalMoney" class="form-label fw-bold">Total Money:</label>
                        <input type="text" class="form-control" id="totalMoney" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="customer" class="form-label fw-bold">Customer:</label>
                        <select id="customer" class="form-select" aria-label="Default select example">
                            <option value="">select customer</option>
                            <option value="1">Nguyễn Văn A</option>
                            <option value="2">Nguyễn Văn B</option>
                            <option value="3">Nguyễn Văn C</option>
                            <option value="4">Nguyễn VĂn D</option>
                            <option value="4">Nguyễn Văn E</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="serviceType" class="form-label fw-bold">Customer Type:</label>
                        <select id="serviceType" class="form-select" aria-label="Default select example">
                            <option value="">select service</option>
                            <option value="1">Villa</option>
                            <option value="2">House</option>
                            <option value="3">Room</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="attachService" class="form-label fw-bold">Attach Service:</label>
                        <select id="attachService" class="form-select" aria-label="Default select example">
                            <option value="">select service</option>
                            <option value="1">Karaoke</option>
                            <option value="2">Xe Đạp</option>
                            <option value="3">Xe Máy</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="home :: footer"></div>
<script th:replace="home :: js"></script>
</body>
</html>