<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

<div class="container">

    <div class="row mt-3">
        <div class="col-lg-12 text-center">
            <h2>Add new song</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="/song/save" method="post" th:object="${songDto}">

                <div class="mb-3">
                    <label for="nameSong" class="form-label">Name Song</label>
                    <input th:field="*{name}" type="text" class="form-control" id="nameSong" aria-describedby="emailHelp">
                    <div th:errors="*{name}" id="nameError" class="form-text text-danger"></div>
                </div>

                <div class="mb-3">
                    <label for="nameArtist" class="form-label">Name Artist</label>
                    <input th:field="*{artist}" type="text" class="form-control" id="nameArtist" aria-describedby="emailHelp">
                    <div th:errors="*{artist}" id="artistError" class="form-text text-danger"></div>
                </div>

                <div class="mb-3">
                    <label for="typeSong" class="form-label">Type Song</label>
                    <input th:field="*{type}" type="text" class="form-control" id="typeSong" aria-describedby="emailHelp">
                    <div th:errors="*{type}" id="typeError" class="form-text text-danger"></div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<script src="/js/bootstrap.js"></script>
</body>
</html>